{% include 'head.html.twig' %}
<body>
<div id="home_full_page" class="hero-content">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/"> My
                                    <span>Project</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="page-header-overlay">
        <div class="container">

            <header class="entry-header">
                <h1 align="center" style="color: aliceblue" class="entry-title"><b>{{ title }}</b></h1>
            </header><!-- .entry-header -->

        </div><!-- .container -->
    </div><!-- .page-header-overlay -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="instructors-info">
                        <header class="entry-heading">
                            <h2 class="entry-title text-white">Detalii personale:</h2>
                        </header><!-- .entry-heading -->

                        <div class="instructor-short-info flex flex-wrap">
                            <div class="instructors-stats">
                                <img src="/images/instructor.jpg" alt="">

                                <ul class="p-0 m-0 mt-3">
                                    <li class="text-white"> {{ teacher.getVotes }} aprecieri</li>
                                    <li class="text-white"> {{ numberComment }} pareri</li>
                                    <li class="text-white"> {{ totalCourses }} cursuri</li>
                                </ul>
                            </div><!-- .instructors-stats -->

                            <div class="instructors-details">
                                <h2 class="entry-title mt-3 text-white">Detalii personale:</h2>

                                <div class="course-teacher mt-3 text-white">
                                    Name: <b>{{ teacher.getFirstName }}</b>
                                </div><!-- .course-teacher -->
                                <div class="course-teacher mt-3 text-white">
                                    Prenume: <b>{{ teacher.getSecondName }}</b>
                                </div><!-- .course-teacher -->

                                <div class="course-teacher mt-3 text-white">
                                    Email: <b>{{ teacher.getEmail }}</b>
                                </div><!-- .course-teacher -->

                                <div class="course-teacher mt-3 text-white">
                                    Profesie: <b>{{ teacher.getProfesie }}</b>
                                </div><!-- .course-teacher -->
                                <br>

                                <h2 class="entry-title mt-3 text-white">Listare Cursuri:</h2>

                                {% for course in courses %}
                                    <div class="course-teacher mt-3 text-white">
                                        Curs: <b>{{ course.getName }}</b>
                                        <b style="text-align: right">
                                            <input type="button" id="inactivate" value="Sterge"
                                                   onclick="deleteCourses({{ course.getId }})">
                                        </b>
                                    </div><!-- .course-teacher -->
                                    <br>
                                {% endfor %}

                            </div><!-- .instructors-details -->
                        </div><!-- .instructor-short-info -->
                    </div><!-- .instructors-info -->
                </div><!-- .single-course-wrap -->
                <form style="solid-color:#34d986" id="add-course-form" enctype="multipart/form-data">
                    <input type="hidden" name="teacher" value="{{ teacher.getId }}">
                    <br>
                    <b>Nume curs:</b>
                    <input class="form-control" type="text" name="nameCourse" required="required"
                           placeholder="Introduceti un nume sugestiv cursului">
                    <br>
                    <b>Descriere:</b>
                    <textarea class="form-control" name="content" placeholder="O mica descriere pentru cursul adaugat"
                              required="required"></textarea>
                    <select class="form-control" name="category">
                        {% for category in categorys %}
                            <option value={{ category.getId }}>{{ category.getName }}</option>
                        {% endfor %}
                    </select>

                    <div class="ratings flex justify-content-center align-items-lg-start">
                        <div class="upload-btn-wrapper">
                            <input id="myFile" type="file" name="myfile"/>

                            <button onclick="return uploadFile()" class="btn">Upload a file</button>
                        </div>

                    </div><!-- .ratings -->
                </form>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .page-header -->


</div><!-- .container -->
</body>
</html>
