<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }}>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href={{ asset('css/elegant-fonts.css') }}>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href={{ asset('css/themify-icons.css') }}>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href={{ asset('css/swiper.min.css') }}>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">

</head>
<body>
<div class="hero-content">
    <header class="site-header ti-youtube">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/" rel="home">My pr<span>oject</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br>
                    <br>
                    <div class="hero-content-overlay instructors-info">
                        <header class="entry-heading align-items-center">
                            <h2 class="entry-title text-white text-center">{{ teacher.getSecondName }}</h2>
                        </header><!-- .entry-heading -->

                        <div class="instructor-short-info flex flex-wrap">
                            <div class="instructors-stats" style="padding-left: 50px">
                                <img src="/images/instructor.jpg" alt="">

                                <ul class="p-0 m-0 mt-3 text-white">
                                    <li><i class="fa fa-star"></i> {{ votes }} Aprecieri</li>
                                    <li><i class="fa fa-play-circle"></i> {{ totalNumberCourses }} Cursuri</li>
                                </ul>
                            </div><!-- .instructors-stats -->

                            <div class="instructors-details">
                                <div class="ratings flex align-items-center text-white text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div><!-- .ratings -->

                                <h2 class="entry-title text-center mt-3 text-white">{{ profesie }}</h2>
                                <br>
                                <div class="entry-content mt-3">
                                    <p>
                                        {{ descriptionTeacher }}
                                    </p>
                                </div><!-- .entry-content -->
                            </div><!-- .instructors-details -->
                        </div><!-- .instructor-short-info -->
                    </div><!-- .instructors-info -->

                    <div class="hero-content-overlay flex flex-column  align-items-md-center">
                        <div class="icon-boxes">
                            <div class="container-fluid">
                                <div class="flex flex-wrap align-items-start">
                                    <div class="col-12 col-md-6 col-lg-3 mt-0 mt-lg-0">
                                        <div class="quick-links flex flex-wrap">
                                            <ul style="color: #005cbf" class="w-500">
                                                {% for category in categorys[teacher.getSecondName] %}
                                                    {% if courses[category] is not empty %}
                                                        <h2><a class="text-white"
                                                               href="#"> {{ category }}</a>
                                                        </h2>
                                                        {% for course in courses[category] %}
                                                            <li class="w-500">
                                                                <h5 align="left" class="text-white">
                                                                    <a class="text-white"
                                                                       href="/single-post/{{ teacher.getId }}/{{ course.getName }}">
                                                                        <b><i>{{ course.getName }}</i></b>
                                                                    </a>
                                                                    <h6>
                                                                        <a class="ti-download btn-outline-info"
                                                                           href="/courses/{{ course.getPath }}"
                                                                           download>
                                                                            <b><i>Descarca aici</i></b>
                                                                        </a>
                                                                        <a class="ti-download btn-outline-info"
                                                                           href="/courses/{{ course.getPath }}"
                                                                           target="_blank">
                                                                            <b><i>Deschide fisier pdf</i></b>
                                                                        </a>
                                                                    </h6>
                                                                </h5>
                                                            </li>
                                                        {% endfor %}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div><!-- .quick-links -->
                                    </div><!-- .col -->

                                </div><!-- .row -->
                            </div><!-- .container-fluid -->
                        </div><!-- .icon-boxes -->

                    </div><!-- .hero-content-wrap -->

                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-content-hero-content-overlay -->
</div><!-- .hero-content -->

<script type='text/javascript' src={{ asset('js/jquery.js') }}></script>
<script type='text/javascript' src={{ asset('js/swiper.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/masonry.pkgd.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/jquery.collapsible.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/custom.js') }}></script>

</body>
</html>