{% include 'head.html.twig' %}
<body>
<div id="home_full_page" class="hero-content">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email d-flex align-items-center">
                            <i class="fa fa-envelope"></i><a href="#">{{ email }}</a>
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text lg-flex align-items-center">
                            <p><i class="fa fa-phone"></i>{{ phoneNumber }}</p>
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="header-bar-search">
                            <form class="flex align-items-stretch">
                                <input type="search" placeholder="What would you like to learn?">
                                <button type="submit" id="bntSearchCourses" onclick="renderCouses()" value=""
                                        class="flex justify-content-center align-items-center"><i
                                            class="fa fa-search"></i></button>
                            </form>
                        </div><!-- .header-bar-search -->

                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .top-header-bar -->

        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="#MyProject"> My
                                    <span>desertation</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->

                    <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                        <nav class="site-navigation flex justify-content-end align-items-center">
                            <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                            </ul>

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 align="center" style="color: aliceblue" class="entry-title"><b>{{ title }}</b></h1>

                        <div class="ratings flex justify-content-center align-items-center">
                            <span> {{ votes }} <b>(votes)</b></span>
                        </div><!-- .ratings -->
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="single-course-wrap">
                <div class="course-info flex flex-wrap align-items-center">
                    <div class="course-author flex flex-wrap align-items-center mt-3">
                        <img src="/images/course-author.jpg" alt="">

                        <div class="author-wrap">
                            <label class="m-0"><b>Teacher</b></label>
                            <div class="author-name"><b>{{ teacherName }}</b></div>
                        </div><!-- .author-wrap -->
                    </div><!-- .course-author -->
                </div><!-- .course-info -->

                <div class="single-course-cont-section">
                    <ul>
                        {% for course in teacherCourses %}
                            <li>
                                <a href="/single-courses/{{ teacherName }}" data-toggle="tooltip"
                                   title={{ description }}> {{ course }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="instructors-info">
                    <header class="entry-heading">
                        <h2 class="entry-title">Instructors</h2>
                    </header><!-- .entry-heading -->

                    <div class="instructor-short-info flex flex-wrap">
                        <div class="instructors-stats">
                            <img src="/images/instructor.jpg" alt="">

                            <ul class="p-0 m-0 mt-3">
                                <li><i class="fa fa-star"></i> 4.7 .7 Average rating</li>
                                <li><i class="fa fa-comment"></i> 25,182 Reviews</li>
                                <li><i class="fa fa-user"></i> 11,085 Students</li>
                                <li><i class="fa fa-play-circle"></i> 2 Courses</li>
                            </ul>
                        </div><!-- .instructors-stats -->

                        <div class="instructors-details">
                            <div class="ratings flex align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>{{ votes }} (votes)</span>
                            </div><!-- .ratings -->

                            <h2 class="entry-title mt-3">The Unreal Engine Developer Course Learn C++ & Make Games</h2>

                            <div class="course-teacher mt-3">
                                Teacher <b>{{ teacherName }}</b>
                            </div><!-- .course-teacher -->

                            <div class="entry-content mt-3">
                                <p>Hi! I'm Colt. I'm a developer with a serious love for teaching. I've spent the last
                                    few years teaching people to program at 2 different immersive bootcamps where I've
                                    helped hundreds of people become web developers and change their lives. My graduates
                                    work at companies like Google, Salesforce, and Square.</p>
                            </div><!-- .entry-content -->
                        </div><!-- .instructors-details -->
                    </div><!-- .instructor-short-info -->
                </div><!-- .instructors-info -->
            </div><!-- .single-course-wrap -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->
</body>
</html>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
