{% include 'head.html.twig' %}
<body>
<div id="home_full_page" class="hero-content">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/"> My
                                    <span>Project</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="page-header-overlay">
        <div class="container">

            <header class="entry-header">
                <h1 align="center" style="color: aliceblue" class="entry-title"><b>{{ title }}</b></h1>
            </header><!-- .entry-header -->

        </div><!-- .container -->
    </div><!-- .page-header-overlay -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="instructors-info">
                        <header class="entry-heading">
                        </header><!-- .entry-heading -->

                        <div class="instructors-details">

                            <h2 class="entry-title mt-3 text-white">Listare Cursuri:</h2>
                            <h2 class="entry-title mt-3 text-white">Total cursuri: <b>{{ totalCourses }}</b></h2>

                            {% for course in courses %}
                                <div class="course-teacher mt-3 text-white">
                                    Curs: <b>{{ course.getName }}                               </b>
                                    <b style="text-align: right">
                                        <a class="ti-download btn-outline-info "
                                           href="/courses/{{ course.getPath }}"
                                           download>
                                            <b><i> Descarca aici</i></b>
                                        </a>
                                    </b>
                                </div><!-- .course-teacher -->
                                <br>
                            {% endfor %}

                        </div><!-- .instructors-details -->
                    </div><!-- .instructor-short-info -->
                </div><!-- .instructors-info -->
            </div><!-- .single-course-wrap -->

        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .page-header -->


</div><!-- .container -->
</body>
</html>
