{% include 'head.html.twig' %}
<body>
<div id="home_full_page" class="hero-content">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/"> My
                                    <span>Project</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->
    <div class="page-header-overlay">
        <div class="container">

            <header class="entry-header">
                <h1 align="center" style="color: aliceblue" class="entry-title"><b>{{ title }}</b></h1>
            </header><!-- .entry-header -->
            <header class="entry-header">
                <h1 align="center" style="color: aliceblue" class="entry-title"><b>{{ error }}</b></h1>
            </header><!-- .entry-header -->

        </div><!-- .container -->
    </div><!-- .page-header-overlay -->

</div><!-- .container -->
</body>
</html>
