<head>
    <title>Elearning</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href={{ asset('css/font-awesome.css') }}>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href={{ asset('css/elegant-fonts.css') }}>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href={{ asset('css/themify-icons.css') }}>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href={{ asset('css/swiper.min.css') }}>

    <!-- Styles -->
    <link rel="stylesheet" href={{ asset('style.css') }}>
</head>

<script type='text/javascript' src={{ asset('js/jquery.js') }}></script>
<script type='text/javascript' src={{ asset('js/swiper.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/masonry.pkgd.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/jquery.collapsible.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/custom.js') }}></script>
<script type='text/javascript' src={{ asset('js/about.js') }}></script>
<script type='text/javascript' src={{ asset('js/home.js') }}></script>
<script type='text/javascript' src={{ asset('js/courses.js') }}></script>
<script type='text/javascript' src={{ asset('js/contact.js') }}></script>
<script type='text/javascript' src={{ asset('js/login.js') }}></script>
<script type='text/javascript' src={{ asset('js/register.js') }}></script>
