<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }}>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href={{ asset('css/elegant-fonts.css') }}>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href={{ asset('css/themify-icons.css') }}>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href={{ asset('css/swiper.min.css') }}>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
<div class="hero-content">
    <header class="site-header">
        <div align="left">
            <div class="container-fluid">
                <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-end justify-content-lg-end align-items-end">
                    <div style="display: inline-block;color: white; text-align: right" class="header-bar-menu">
                        <ul style="text-align: right"
                            class="flex justify-content-lg-end align-items-lg-start py-2 pt-md-0">
                            {% if session.get('email') %}
                                <h6 class="site-title "><a href="/administrare" rel="home">Auten<span>tificat</span>
                                        : {{ session.get('email') }}</a></h6>
                            {% endif %}
                        </ul>
                    </div><!-- .header-bar-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
        <div class="nav-bar">
            <div align="right">
                <div class="container-fluid">
                    <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-end justify-content-lg-end align-items-end">
                        <div style="display: inline-block;color: white; text-align: right" class="header-bar-menu">
                            <ul style="text-align: right"
                                class="flex justify-content-lg-end align-items-end py-2 pt-md-0">
                                <li><a style="color: white" href="/login">Login</a></li>
                                <li><a style="color: white" href="/logout">Logout</a></li>
                            </ul>
                        </div><!-- .header-bar-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="#" rel="home">My pr<span>oject</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">

                        <div class="icon-boxes">
                            <div class="container-fluid">
                                <div class="flex flex-wrap align-items-stretch">
                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-user"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 style="color: #868e96" align="center" class="entry-title">Invata de la
                                                experti</h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <div class="entry-content">
                                            <p style="color:#ffffff;">
                                                Descopera articole de la cei mai cunoscuti autori de articole si
                                                materiale.
                                                Cu un singur click alegi despre si de la cine vrei sa inveti.
                                            </p>
                                        </div><!-- .entry-content -->

                                        <footer class="read-more">
                                            <a href="/teachers"><b style="color: white">read more</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-folder"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Carti si
                                                materiale</h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <div class="entry-content">
                                            <p style="color:#ffffff;">
                                                Descarca de aici materialele si articolele.
                                                Le poti citii direct in site, lasa comentarii si aprecia munca
                                                autorilor.
                                            </p>
                                        </div><!-- .entry-content -->

                                        <footer class="entry-footer read-more">
                                            <a href="/download-all-courses"><b style="color: white">read more</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-book"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Cursuri
                                                online
                                                <br>
                                                <br>
                                            </h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <div class="entry-content">
                                            <p style="color:#ffffff;">
                                                Daca nu ai gasit ceea ce cautai.
                                                Incearca una din platformele online.
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                            </p>
                                        </div><!-- .entry-content -->
                                        <footer class="entry-footer read-more">
                                            <a href="/cursuri-online"><b style="color: white">read more</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-world"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Invata de la
                                                cel mai bun</h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <div class="entry-content">
                                            <p style="color:#ffffff;">
                                                Realizand un scurt sondaj in urma aprecierilor primite de autori am
                                                afisat top 3 cei mai apreciati autori.
                                                <br>
                                                <br>
                                            </p>
                                        </div><!-- .entry-content -->

                                        <footer class="entry-footer read-more">
                                            <a href="/learn-with-champions"><b style="color: white">read more</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->
                                </div><!-- .row -->
                            </div><!-- .container-fluid -->
                        </div><!-- .icon-boxes -->

                    </div><!-- .hero-content-wrap -->

                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-content-hero-content-overlay -->
</div><!-- .hero-content -->

<section class="home-gallery">
    <div class="gallery-wrap flex flex-wrap">
        <div class="gallery-grid gallery-grid1x1">
            <img src="images/a.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/b.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x2">
            <img src="images/c.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/d.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/e.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <img src="images/g.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <img src="images/h.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/i.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x2 ">
            <img src="images/j.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/k.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/l.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid2x1">
            <img src="images/m.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/o.jpg" alt="">
        </div><!-- .gallery-grid -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/udemy-logo-1.jpg" alt="">
        </div><!-- .logo-wrap -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/my_academy.jpg" alt="">
        </div><!-- .logo-wrap -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/udemy-logo-2.jpg" alt="">
        </div><!-- .logo-wrap -->

        <div class="gallery-grid gallery-grid1x1">
            <img src="images/logo-3.png" alt="">
        </div><!-- .logo-wrap -->

    </div><!-- .gallery-wrap -->
</section><!-- .home-gallery -->

<script type='text/javascript' src={{ asset('js/jquery.js') }}></script>
<script type='text/javascript' src={{ asset('js/swiper.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/masonry.pkgd.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/jquery.collapsible.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/custom.js') }}></script>

</body>
</html>