{% include 'head.html.twig' %}
<body>
<div id="home_full_page" class="hero-content">
    <header class="site-header">
        <div align="right">
            <div class="container-fluid">
                <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-end justify-content-lg-end align-items-end">
                    <div style="display: inline-block;color: white; text-align: right" class="header-bar-menu">
                        <ul style="text-align: right" class="flex justify-content-lg-end align-items-end py-2 pt-md-0">
                            <li><a style="color: white" href="/register">Register</a></li>
                            <li><a style="color: white" href="/login">Login</a></li>
                        </ul>
                    </div><!-- .header-bar-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </header><!-- .site-header -->

    <div id="dragos" align="center" class="hero-content">
        <div class="container-fluid">
            <div align="center">
                <div class="hero-content-wrap flex flex-lg-column-reverse justify-content-end align-items-end">
                    <form>
                        <h3>Login</h3>
                        <div class="form-group">
                            <input id="email" type="text" class="form-control" placeholder="Your Email *" value=""
                                   required="required">
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" placeholder="Your Password *" value=""
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" onclick="login()" value="Login"/>
                        </div>
                        <div class="form-group text-white">
                            <b>
                                <a href="/register" class="ForgetPwd text-white">Nu ai un cont? Inregistreazate acum!</a>
                                <a href="/home" class="ForgetPwd text-white">Continua ca vizitator?</a>
                            </b>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>