<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }}>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href={{ asset('css/elegant-fonts.css') }}>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href={{ asset('css/themify-icons.css') }}>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href={{ asset('css/swiper.min.css') }}>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
<div class="hero-content">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/" rel="home">My pr<span>oject</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="hero-content-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
                        <div class="icon-boxes">
                            <div class="container-fluid">
                                <div class="flex flex-wrap align-items-stretch">
                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-world"></span>
                                        </div><!-- .icon -->
                                        <header class="entry-header">
                                            <h2 style="color: #868e96" align="center" class="entry-title">Invata de la
                                                <br>
                                                <b><i style="color: #abdde5">MY ACADEMY</i></b></h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <footer class="read-more">
                                            <a href="https://www.heacademy.ac.uk/my-academy-manage-your-higher-education-academy-experience/"
                                               target="_blank"><b style="color: white">deschide</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-world"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Invata cu
                                                <b><i style="color: #abdde5">UDEMY</i></b></h2>
                                        </header><!-- .entry-header -->
                                        <br>

                                        <footer class="entry-footer read-more">
                                            <a href="https://www.udemy.com/" target="_blank"><b style="color: white">DESCHIDE</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-world"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Invata cu
                                                <br>
                                                <b><i style="color: #abdde5">EDU-FOR</i></b></h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <footer class="entry-footer read-more">
                                            <a href="http://www.edu-for.eu/servicii-elearning/e-learning/"
                                               target="_blank"><b style="color: white">DDESCHIDE</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->

                                    <div class="icon-box">
                                        <div align="center" class="icon">
                                            <span class="ti-world"></span>
                                        </div><!-- .icon -->

                                        <header class="entry-header">
                                            <h2 align="center" style="color: #868e96" class="entry-title">Invata cu
                                                <br>
                                                <b><i style="color: #abdde5">EDU-GOOGLE</i></b></h2>
                                        </header><!-- .entry-header -->
                                        <br>
                                        <footer class="entry-footer read-more">
                                            <a href="https://edu.google.com/openonline/" target="_blank"><b
                                                        style="color: white">DESCHIDE</b><i
                                                        class="fa-long-arrow-right"></i></a>
                                        </footer><!-- .entry-footer -->
                                    </div><!-- .icon-box -->
                                </div><!-- .row -->
                            </div><!-- .container-fluid -->
                        </div><!-- .icon-boxes -->

                    </div><!-- .hero-content-wrap -->

                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-content-hero-content-overlay -->
</div><!-- .hero-content -->
<div class="container">
    <div class="row">
        <div class="col-12 flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
            <div class="logo-wrap">
                <img src="images/udemy-logo-1.jpg" alt="">
            </div><!-- .logo-wrap -->

            <div class="logo-wrap">
                <img src="images/my_academy.jpg" alt="">
            </div><!-- .logo-wrap -->

            <div class="logo-wrap">
                <img src="images/udemy-logo-2.jpg" alt="">
            </div><!-- .logo-wrap -->

            <div class="logo-wrap">
                <img src="images/logo-3.png" alt="">
            </div><!-- .logo-wrap -->

        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->
<script type='text/javascript' src={{ asset('js/jquery.js') }}></script>
<script type='text/javascript' src={{ asset('js/swiper.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/masonry.pkgd.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/jquery.collapsible.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/custom.js') }}></script>

</body>
</html>