{% include 'head.html.twig' %}
<body>
<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="col-9 col-lg-3">
                <div class="site-branding">
                    <h1 align="left" class="site-title"><a href="/" rel="home">My pr<span>oject</span></a></h1>
                </div><!-- .site-branding -->
            </div><!-- .col -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header><!-- .site-header -->
<div id="dragos" align="center" class="hero-content">
    <div class="container-fluid">
        <div align="center">
            <div class="hero-content-wrap flex flex-lg-column-reverse justify-content-end align-items-end">
                <form id="test">
                    <h3>Rgister account</h3>
                    <div class="form-group">
                        <input id="email" name="email" type="email" class="form-control" placeholder="Your Email *"
                               value=""
                               required="required">
                    </div>
                    <div class="form-group">
                        <input name="password" id="password" type="password" class="form-control"
                               placeholder="Your Password *"
                               value=""
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <input name="firstNames" id="firstNames" type="text" class="form-control"
                               placeholder="Your FirstName" value=""
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <input name="secondName" id="secondName" type="text" class="form-control"
                               placeholder="Your SecondName" value=""
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <input name="profesie" id="profesie" type="text" class="form-control"
                               placeholder="Your Profession" value=""
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <input name="phone_number" id="phone_number" type="number" class="form-control"
                               placeholder="Phone Number*"
                               value=""
                               required="required"/>
                    </div>
                    <textarea rows="4" cols="50" name="descriere" id="descriere"
                              placeholder="Seteaza o mica descriere deste tine si contentul tau!"
                              form="test"></textarea>
                    <div class="form-group">
                        <input type="submit" onclick="register()" class="btnSubmit" value="Register"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>