<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }}>

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href={{ asset('css/elegant-fonts.css') }}>

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href={{ asset('css/themify-icons.css') }}>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href={{ asset('css/swiper.min.css') }}>

    <!-- Styles -->
    <link rel="stylesheet" href={{ asset('style.css') }}>
</head>
<body class="single-blog-post">
<div class="page-header">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-3">
                        <div class="site-branding">
                            <h1 class="site-title"><a href="/" rel="home">My pr<span>oject</span></a></h1>
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ course.getName }}</h1>

                        <div class="entry-meta flex justify-content-center align-items-center">
                            <div class="post-author"><a href="#">{{ teacher.getFirstName }}
                                    - {{ teacher.getSecondName }} - {{ teacher.getProfesie }}</a></div>
                        </div><!-- .entry-meta -->
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="container">
    <div class="row">
        <div class="col-12 offset-lg-1 col-lg-10">
            <div class="featured-image">
                <img src="/images/single-post.jpg" alt="">

                <div class="posted-date position-absolute">
                    <div class="day">Imagine cu scop descriptiv</div>
                </div><!-- .posted-date -->
            </div><!-- .featured-image -->
        </div><!-- .col -->
    </div><!-- .row -->

    <div class="row">

        <div class="col-12 col-lg-10">
            <div style="padding-left: 150px" class="single-post-wrap">
                <blockquote>
                    <p>{{ teacher.getDescription }}</p>
                    <span>{{ teacher.getSecondName }}-{{ teacher.getFirstName }}-{{ teacher.getProfesie }}</span>
                </blockquote>
                <h1 class="entry-title">{{ course.getName }}</h1>

                <p></p>
                <div class="featured-image">

                    <figure class="my-4"><img src="/images/blog-post-img.png" alt=""></figure>

                    <div class="posted-date position-absolute">
                        <div class="day">Imagine cu scop descriptiv</div>
                    </div><!-- .posted-date -->
                </div>
            </div><!-- .single-post-wrap -->


            <div class="author-box">
                <div class="author-info flex flex-wrap">
                    <div class="author-avatar">
                        <img src="/images/{{ teacher.getImage }}" alt="">
                        <input type="button" onclick="like({{ teacher.getId }})" value="Apreciaza" id="like" name="like">
                    </div><!-- .author-avatar -->

                    <div class="author-details">
                        <h3 class="author-name">{{ teacher.getSecondName }}-{{ teacher.getFirstName }}
                            <span><b>{{ role.getName }}</b></span></h3>

                        <div class="entry-content mt-3">
                            <p>{{ course.getContent }}</p>
                        </div><!-- .entry-content -->
                    </div><!-- .author-details -->
                </div><!-- .author-info -->
            </div><!-- .author-box -->

            <div class="post-comments-wrap">
                <div class="post-comments">
                    <h3 class="comments-title"><span class="comments-number"><b>Comments:</b></span></h3>

                    <ol class="comment-list">
                        {% for comment in comments %}
                        <li class="comment">
                            <article class="comment-body">
                                <figure class="comment-author-avatar">
                                    <img src="/images/{{ teacher.getImage }}" alt="">
                                </figure><!-- .comment-author-avatar -->

                                <div class="comment-wrap">
                                    <div class="comment-author">
                                            <span class="fn">
                                                <a href="">{{ comment.getUserComment }}</a>
                                            </span><!-- .fn -->
                                    </div><!-- .comment-author -->

                                    <p>{{ comment.getContent }}</p>

                                </div><!-- .comment-wrap -->

                                <div class="clearfix"></div>
                            </article><!-- .comment-body -->
                            {% endfor %}
                    </ol><!-- .comment-list -->
                </div><!-- .post-comments -->

                <div class="comments-form">
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave a comment</h3>

                        <form id="comment-form" class="comment-form">
                            <input id="name" name="name" [] type="text" required="required" placeholder="Name">
                            <input id="title" name="title" type="text" required="required"
                                   placeholder="titlu comentariu">
                            <textarea id="comment" name="comment" rows="6" required="required"
                                      placeholder="scrie un comentariu aici"></textarea>
                            <input type="submit" value="Trimite"
                                   onclick="saveComment({{ teacher.getId }}, {{ course.getId }})">
                        </form><!-- .comment-form -->
                    </div><!-- .comment-respond -->
                </div><!-- .comments-form -->
            </div><!-- .post-comments-wrap -->
        </div><!-- .col -->
    </div><!-- .row -->
</div><!-- .container -->

<div class="clients-logo">
    <div class="container">
        <div class="row">
            <div class="col-12 flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
                <div class="logo-wrap">
                    <img src="/images/logo-1.png" alt="">
                </div><!-- .logo-wrap -->

                <div class="logo-wrap">
                    <img src="/images/logo-2.png" alt="">
                </div><!-- .logo-wrap -->

                <div class="logo-wrap">
                    <img src="/images/logo-3.png" alt="">
                </div><!-- .logo-wrap -->

                <div class="logo-wrap">
                    <img src="/images/logo-4.png" alt="">
                </div><!-- .logo-wrap -->

                <div class="logo-wrap">
                    <img src="/images/logo-5.png" alt="">
                </div><!-- .logo-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .clients-logo -->

<script type='text/javascript' src={{ asset('js/jquery.js') }}></script>
<script type='text/javascript' src={{ asset('js/swiper.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/masonry.pkgd.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/jquery.collapsible.min.js') }}></script>
<script type='text/javascript' src={{ asset('js/custom.js') }}></script>
<script type='text/javascript' src={{ asset('js/comment.js') }}></script>

</body>
</html>